# OS junk
.DS_Store

# dependencies
node_modules/
**/node_modules/

# next.js (safe to keep)
.next/
out/

# production builds
build/
dist/

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# env files
.env
.env.*
!.env.example

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
